* {
    box-sizing: border-box;
}

main {
    background: rgba(0, 0, 0, 0.2);
    padding-top: 10px;
    min-height: 100%;
}

.about {
    padding-bottom: 50px;
}

.about__header {
    text-align: center;
    margin-bottom: 30px;
    color: black;
}

.about__article {
    display: inline-block;
    text-align: left;
    margin: 10px 0px;
    border: 5px solid black;
    border-left: none;
    background: rgba(255, 0, 0, 0.5);
    padding: 30px;
    padding-right: 580px;
    transition: all 0.6s ease; /**changes color slowly and smoothly upon hover**/
}

.about-purpose {
    text-align: right;
    /* takes it out of document flow and lets other elements wrap around it */
    /* neeeds clearfix below to account for the wrapping */
    float: right;
    border: 5px solid black;
    border-right: none;
    padding: 30px;
    padding-left: 580px;
}

.about__article:hover {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px 580px;
    transition: all 0.6s ease; /**changes color slowly and smoothly upon hover**/
}

.about-purpose:hover {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding-right: 580px;
    transition: all 0.6s ease;
}

.about__article h1,
.about__article p,
.about__article ul {
    display: inline-block;
}

span {
    display: block;
}

/* needed to position the floated item (about-purporse) to the right*/
.clearfix {
    clear: both;
}

.about-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.footer {
    /*needed to stick footer to bottom */
    /* src: https://css-tricks.com/couple-takes-sticky-footer/#there-is-negative-top-margins-on-footers */
    margin-top: -1px;
}
